domain_whitelist: "skytap.com"
confirmation_period_hours: "48"
usage_period_hours: "168"
shadow_users_dept_id: "1110"
shadow_user_svm_hours_monthly_quota: "1234"
shadow_users_storage_quota_mb: "80000"
shadow_user_concurrent_svms_quota: "20"
shadow_users_email: "me@mgoldman.com"
global_network_id: "2298252"
templates_project_id: "37878"
template_production_tag: "production"
demo_environments_project_id: "37814"
templates_update_interval_mins: "60"
skytap_api_url: "https://cloud.skytap.com/"
skytap_api_user: "USER_GOES_HERE"
skytap_api_key: "KEY_GOES_HERE"

test:
  skytap_api_user: "USER_GOES_HERE"
  skytap_api_key: "KEY_GOES_HERE"
