domain_whitelist: "skytap.com,some-division-of.skytap.com"
confirmation_period_hours: "48"
usage_period_hours: "168"
shadow_users_dept_id: null
shadow_user_svm_hours_monthly_quota: null
shadow_users_storage_quota_mb: "80000"
shadow_user_concurrent_svms_quota: "20"
shadow_users_email: "shadow-users@skytap-customer-name.com"
shadow_users_domain: "shadow-users.skytap-customer-name.com"
global_network_id: null
templates_project_id: "12345"
demo_environments_project_id: null
templates_update_interval_mins: "60"
skytap_api_url: "https://cloud.skytap.com/"
skytap_api_user: "USER_GOES_HERE"
skytap_api_key: "KEY_GOES_HERE"
poll_interval_ms: "2000"
mail_from: "donotreply@skytap-customer-name.com"
url_hostname: "localhost:3000"

test:
  skytap_api_user: "testuser@example.tld"
  skytap_api_key: "8135cd4229746c8741076a75e53f7ba979642764"
  poll_interval_ms: "0"
  domain_whitelist: "skytap.com"
  url_hostname: "localhost:3001"
